@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.edit-wug {
    margin: 2rem;

    @include tablet {
        margin: 2rem 4rem;
    }

    @include desktop {
        margin: 2rem 8rem;
    }
}

.wug-form {
    &__buttons {
        display: flex;
        justify-content: flex-end;
    }
}