@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.add-wug {
  margin: 2rem;

  @include tablet {
    margin: 4rem;
  }

  @include desktop {
    margin: 8rem;
  }
}

.wug-form {
  display: flex;
  flex-direction: column;

  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
  }

  &__button-add,
  &__button-cancel {
    width: 20%;

    @include tablet {
      width: 25%;
    }
  }
}
