@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.header {
    color: white;
    background-color: #FD3F92;
    display: flex;
    
    @include tablet {
        justify-content: space-between;
        align-items: center;
    }

}