@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.login {
  &__img {
    display: flex;
    justify-self: center;
    background-color: $wugorange;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-image: url("../../assets/icons/login-w.svg");
    background-size: 10rem;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.form {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    width: 30%;
  }

  &__button {
    margin: 1rem;
    width: 30%;
  }
}

.new-user {
  margin: 1rem;
  text-align: right;
}
