@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
    color: white;
    background-color: $wugpink;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
        margin: 0;
        padding: 1rem;
    }

    &__nav {
        margin: 1rem;

    }
}