@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.user-page {
    margin: 1rem;

    &__title {
        margin: 1rem 0;
    }
}

.user {
@include tablet {
    margin: 3rem 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

    &__img-div {
        background-color: $wugorange;
        width: 10.5rem;
        height: 9.5rem;
        border-radius: 10%;
        background-image: url("../../assets/icons/login-w.svg");
        background-size: 3.5rem;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img{
        // width: 5rem;
        height: 9rem;
        // height: auto;
        // height: 5rem;
        border-radius: 10%;
        background-color: $wugorange;
    }

    &__name {
        @include tablet {
            margin: 1rem 0;
        }
    }

    &__location {
        @include tablet {
            margin: 0;
        }
    }

}

.user-wugs {
    margin: 4rem 1rem;

    &__gallery {
        // padding: 0 2rem;
        display: flex;
        // justify-content: space-around;
        gap: 4rem;
        flex-wrap: wrap;
        // justify-content: space-evenly;
    }
}

.user-wug {
    margin: 1rem 0;

    &__img-div {
        background-color: $wugorange;
        width: 8rem;
        height: 8rem;
        border-radius: 1rem;
        background-image: url("../../assets/icons/wug-w.svg");
        background-size: 3.5rem;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img{
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 1rem;
        background-color: $wugorange;
    }

    &__name {
        margin: 1rem 0 0.5rem;
    }

    &__species {
        margin: 0.5rem 0 1rem;
    }
}

.user-buttons {
    display: flex;
    justify-content: flex-end;
}